# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
*.bak

# DB/Cache
*.sqlite
*.db
.cache/

# VSCode/OS
.vscode/
.DS_Store
Thumbs.db

# Windows device ghost file
CON

# Local temp previews created by tooling
TEMP_*

